      .iscritti-title {font-size: 150px; font-weight: 700;}
      .iscritti-subtitle {font-size: 75px; font-weight: 700;}
      .iscritti-paragraph {font-size: 34px;}
      .hero-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.pellegrino {
  width: auto;
  display: block;
  flex: 0 0 auto;
}

.titolo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
}

.numero,
.label {
  margin: 0;
  line-height: 1;
}

@media (max-width: 768px) {
   .iscritti-title {font-size: 80px}
   .iscritti-subtitle {font-size: 36px}
   .iscritti-paragraph {font-size: 19px;}
}